<?xml version="1.0"?>
<config>
    <modules>
        <SR_Trashcan>
            <version>0.0.0.1</version>
        </SR_Trashcan>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sr_trashcan before="Mage_Adminhtml">SR_Trashcan</sr_trashcan>
                    </modules>
                </args>
            </adminhtml>
            <trashcan>
                <use>admin</use>
                <args>
                    <module>SR_Trashcan</module>
                    <frontName>trashcan</frontName>
                </args>
            </trashcan>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <trashcan>
                    <file>trashcan.xml</file>
                </trashcan>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <trashcan>
                <class>SR_Trashcan_Block</class>
            </trashcan>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>SR_Trashcan_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <trashcan>
                <class>SR_Trashcan_Helper</class>
            </trashcan>
        </helpers>
    </global>
</config>